
body {
    cursor: url('../assets/cursor.cur'), auto;
    background-image: url("../assets/reflection.jpg");
    background-size: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Test Signifier Light';
    src: url(../fonts/test-signifier-light.woff2);
}

@font-face {
    font-family: 'Test Signifier Light Italic';
    src: url(../fonts/test-signifier-light-italic.woff2);
}

@font-face {
    font-family: 'Test Signifier Thin';
    src: url(../fonts/test-signifier-thin.woff2);
}

@font-face {
    font-family: 'Test Signifier Thin Italic';
    src: url(../fonts/test-signifier-thin-italic.woff2);
}

@font-face {
    font-family: 'Test Signifier Medium';
    src: url(../fonts/test-signifier-medium.woff2);
}

@font-face {
    font-family: 'Test Signifier Medium Italic';
    src: url(../fonts/test-signifier-medium-italic.woff2);
}

@font-face {
    font-family: '飞花宋体 常规';
    src: url(../fonts/FeiHuaSongTi-2.ttf);
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: red;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
} 

#name {
    font-family: 'Test Signifier Light Italic';
    font-size: 25px;
    color: darkolivegreen;
    position: fixed;
    top: 5%;
    left: 8%;
    font-kerning: normal;
}

#name span {
    font-size:25px;
    text-decoration: none;
}

#name a {
    text-decoration: none;
}

a:hover span {
    color: green;
    text-decoration: none;
}

#name a:hover:before {
    font-family: 'Test Signifier Light Italic';
    color: red;
    font-size: 27px;
    content:"home page";
}

#about {
    font-family: 'Test Signifier Light Italic';
    font-size: 25px;
    color: red;
    position: fixed;
    top: 6%;
    left: 78%;
}

#about span {
    font-size:25px;
    text-decoration: none;
}

#about a {
    text-decoration: none;
}

a:hover span {
    display: none;
    text-decoration: none;
}

#about a:hover:before {
    font-family: '飞花宋体 常规';
    color: red;
    font-size: 27px;
    content:"关于";
}

#contact {
    font-family: 'Test Signifier Light Italic';
    font-size: 25px;
    color: red;
    position: fixed;
    top: 6%;
    left: 85%;
}

#contact span {
    font-size:25px;
    text-decoration: none;
}

#contact a {
    text-decoration: none;
}

a:hover span {
    display: none;
    text-decoration: none;
}

#contact a:hover:before {
    font-family: '飞花宋体 常规';
    color: red;
    font-size: 27px;
    content:"联系";
}


.intro1 {
    position: relative;
    font-family: 'Test Signifier Thin Italic';
    font-size: 23px;
    color: white;
    top: 650px;
    left: 115px; 
}

.intro1 span {
    text-decoration: none;
}

p:hover span {
    display: none;
    text-decoration: none;
}

.intro1:hover:after {
    font-family: '飞花宋体 常规';
    color: white;
    font-size: 20px;
    content:"如需联络，请通过邮箱 ☞";
}

.intro2 {
    position: fixed;
    font-family: 'Test Signifier Thin Italic';
    font-size: 23px;
    color: white;
    top: 654px;
    left: 400px; 
}
